<mat-card>
  <mat-card-title>{{event?.label}}</mat-card-title>
  <mat-card-subtitle>host: {{event?.author}}</mat-card-subtitle>
  <mat-card-content>
    <div class="example-action-buttons">
      <button mat-button (click)="accordion?.openAll()">Expand All</button>
      <button mat-button (click)="accordion?.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>account_circle</mat-icon> You
          </mat-panel-title>
          <mat-panel-description>
            Type your name and your email
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-guest-form></app-guest-form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>date_range</mat-icon> Options
          </mat-panel-title>
          <mat-panel-description>
            Inform the options you wish to participate at this event
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-options-form [event]="event"></app-options-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="validate()">Validate</button>
    <button mat-raised-button color="warn" (click)="cancel()" matTooltip="Not Yet Implemented">Cancel</button>
  </mat-card-actions>
</mat-card>
