<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Choix de la date</h2>
    <section class="example-section">
      <mat-checkbox
        class="example-margin"
        (click)="switchAll()"
        [(ngModel)]="all"
        [(indeterminate)]="some"
        [disabled]="true"
      >
        Tous
      </mat-checkbox>
    </section>
    <ng-template ngFor let-option [ngForOf]="options" let-index="index">
      <section class="example-section">
        <mat-checkbox
          class="example-margin"
          (click)="onClick(index)"
          [(ngModel)]="option.selected"
          [(indeterminate)]="option.optional"
          [disabled]="true"
        >
          {{option?.label}}
        </mat-checkbox>
      </section>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="validate()">Valider</button>
    <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
  </mat-card-actions>
</mat-card>
