<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Choix de la date</h2>
    <ul>
      <ng-template ngFor let-option [ngForOf]="options" let-index="index">
        <section class="example-section">
          <mat-checkbox
            class="example-margin"
            (click)="onClick(index)"
            [(ngModel)]="option.selected"
            [(indeterminate)]="option.optional"
            [disabled]="true"
          >
            {{option?.label}}
          </mat-checkbox>
        </section>
      </ng-template>
    </ul>
  </mat-card-content>
</mat-card>
