<h2 class="example-h2">
  Select your options
</h2>
<section class="example-section">
  <mat-checkbox
    class="example-margin"
    (click)="switchAll()"
    [(ngModel)]="all"
    [(indeterminate)]="some"
    [disabled]="true"
  >
    All
  </mat-checkbox>
</section>
<ng-template ngFor let-option [ngForOf]="event?.options" let-index="index">
  <section class="example-section">
    <mat-checkbox
      class="example-margin"
      (click)="onClick(index)"
      [(ngModel)]="option.selected"
      [(indeterminate)]="option.optional"
      [disabled]="true"
    >
      {{option?.date|date:"fullDate"}}
    </mat-checkbox>
  </section>
</ng-template>
