<h2 class="example-h2">
  Select your options
</h2>
<mat-tab-group headerPosition="below" animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">list</mat-icon>
      List view
    </ng-template>
    <app-flat-options-picker [event]="event"></app-flat-options-picker>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">calendar_month</mat-icon>
      Calendar view
    </ng-template>
    <app-calendar-options-picker [event]="event"></app-calendar-options-picker>
  </mat-tab>
</mat-tab-group>
