<mat-card>
  <mat-card-title>Create an event poll</mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Step 1
          </mat-panel-title>
          <mat-panel-description>
            Who are you?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <tak-plan-form-profil></tak-plan-form-profil>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Step 2
          </mat-panel-title>
          <mat-panel-description>
            What would you plan?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <mat-label>Country</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Step 3
          </mat-panel-title>
          <mat-panel-description>
            What options do you want to propose?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="validate()">Validate</button>
    <button mat-raised-button color="warn" (click)="cancel()" matTooltip="Not Yet Implemented">Cancel</button>
  </mat-card-actions>
</mat-card>
