<h1>Welcome to Takoya'Plan!</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget velit ut orci pellentesque suscipit. Nam vel purus sodales, pulvinar erat id, eleifend lorem. Sed felis eros, eleifend vitae sem ut, condimentum suscipit risus. Ut imperdiet blandit neque sed interdum. Fusce vitae nisl aliquam, hendrerit dolor vitae, tempor risus. Mauris id efficitur quam, at malesuada sem. Sed non eros eros. Suspendisse potenti. Nulla lacinia magna in feugiat malesuada. Nam hendrerit fringilla ex, eget aliquet libero posuere in. Aenean condimentum justo eleifend lectus efficitur, et auctor est luctus. Proin iaculis libero sed aliquet semper.
</p>
<br>
<mat-card class="mat-elevation-z4" routerLink="/new">
  <mat-card-title>Create a poll</mat-card-title>
  <mat-card-content>Let's start a new poll for your next event</mat-card-content>
</mat-card>
<br>
<mat-card class="mat-elevation-z4" routerLink="/">
  <mat-card-title>Manage my events</mat-card-title>
  <mat-card-content>Look and edit your event polls</mat-card-content>
</mat-card>
<br>
